<!DOCTYPE html>
<html lang="en">

<head>
    <style> /*this needs to be added to CSS*/
    .post-image img { 
        width: 600px;
    }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../public/css/style.css">
    <script src="https://kit.fontawesome.com/56bcff738d.js" crossorigin="anonymous"></script>
    </head>

    <body>
        <h1>Feed</h1>
        <% posts.forEach( el => { %>
            <div class="post-container">
                <h2> <%= el.title%></h2>
                <div class="post-image">
                    <img src="<%=el.imageUrl%>">
                </div>
                <div style="display: flex;">
                    <span> <%= el.postDate%></span>
                    <span><%=el.likeCount%></span>
                    <i class="fas fa-heart" data-id="<%=el._id%>"></i>
                </div>
            </div>
        <% }) %>

        <script src="js/main.js"></script>
    </body>

</html>