<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <header>
        <%- include('/partials/header') ;%>
    </header>
    <h1>Update/Delete</h1>
    <ul>
        <% posts.forEach( el => { %>
            <li class='todoItem' data-id='<%=el._id%>'>
                <% if (el.imageUrl) { %>
                    <img src="<%=el.imageUrl%>" style="height: 400px; width: 600px;">
                    <% } %>

                        <span><%= el.title%></span>
                        <span class='del'> Delete </span>
                        <span class='edit' data-id=<%=el._id%>> Edit </span>
                        <div class="editDiv" id="div-<%=el._id%>">
                            <input id="input-<%=el._id%>" placeholder="<%=el.titile%>">
                            <button class="updateBtn" id='btn-<%=el._id%>' data-id='<%=el._id%>'>Update</button>
                        </div>
            </li>
            <% }) %>
    </ul>

    <h2>
        <%= user.userName %>
    </h2>

    <form action="/post/createPost" enctype="multipart/form-data" method='POST'>
        <input type="text" name="imageTitle">
        <input type="file" name='myFile'>
        <input type="submit">
    </form>

    <a href="/logout">Logout</a>

    <script src="js/main.js"></script>
</body>

</html>